# PreLoads

In [ ]:
# import the necessary Colab libraries 
from google.colab import drive 
from google.colab import files 

# mount the Google Drive 
drive.mount("/content/drive") 

# navigate to the notebook in the Google Drive 
%cd "/content/drive/My Drive/References" 

# open the notebook 
%run PreLoads.ipynb

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/References

/usr/local/lib/python3.8/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.13) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [ ]:
def make_10_digits(list):
    for i in range(len(list)):
        list[i] = str(list[i])
        while len(list[i]) < 10:
            list[i] = '0' + list[i]
    return list

# Main

In [ ]:
URL = 'https://www.sec.gov/files/company_tickers.json'
response = requests.get(URL, headers = headers_list)
data = response.json()

Ticker_output = []
for i in tqdm(data):
  cik_str = data[i]['cik_str']
  ticker = data[i]['ticker']
  title = data[i]['title']
  j = pd.DataFrame([cik_str, ticker, title]).T
  Ticker_output.append(j)

Ticker_output = pd.concat(Ticker_output)
Ticker_output.columns = ['CIK', 'Ticker', 'Company']
print(len(Ticker_output))

Ticker_CIK_List = make_10_digits(list(Ticker_output['CIK']))
Ticker_output.head()

100%|██████████| 11663/11663 [00:07<00:00, 1529.15it/s]

11663

       CIK Ticker                 Company
0   320193   AAPL              Apple Inc.
0   789019   MSFT          MICROSOFT CORP
0  1067983  BRK-B  BERKSHIRE HATHAWAY INC
0   731766    UNH  UNITEDHEALTH GROUP INC
0    34088    XOM        EXXON MOBIL CORP

In [ ]:
def ExtractYF_BoD(Ticker):
  data = []
  URL = f'https://finance.yahoo.com/quote/{Ticker}/profile?p={Ticker}'
  response = requests.get(URL, headers = headers_list)
#   soup = BeautifulSoup(response.content, "html.parser")
  soup = BeautifulSoup(response.content, "lxml")
  table = soup.find('table', attrs={'class':'W(100%)'})
  try:
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    for row in rows:
      cols = row.find_all('td')
      cols = [ele.text.strip() for ele in cols]
      data.append([ele for ele in cols if ele]) # Get rid of empty values
    return data
  except:
    pass

In [ ]:
YF_BoD1 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][:1000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD1 = YF_BoD1.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD1 = YF_BoD1.append(df)
  j+=1
YF_BoD1

100%|██████████| 1000/1000 [39:38<00:00,  2.38s/it]

,0,1,2,3,4,Ticker
0,Mr. Timothy D. Cook,CEO & Director,16.39M,N/A,1961,AAPL
1,Mr. Luca Maestri,CFO & Sr. VP,5.02M,N/A,1964,AAPL
2,Mr. Jeffrey E. Williams,Chief Operating Officer,5.02M,N/A,1964,AAPL
3,Ms. Katherine L. Adams,"Sr. VP, Gen. Counsel & Sec.",5.01M,N/A,1964,AAPL
4,Ms. Deirdre O'Brien,Sr. VP of People & Retail,5.06M,N/A,1967,AAPL
...,...,...,...,...,...,...
5,Ms. Amber J. Sheridan,Sr. VP of HR,N/A,N/A,N/A,KNSL
6,Mr. Benjamin F. Pully,Sr. VP,N/A,N/A,N/A,KNSL
7,Mr. Clayton Warren Rhoades,Sr. VP,N/A,N/A,N/A,KNSL
8,Mr. Patrick L. Dalton,Sr. VP of Casualty,N/A,N/A,N/A,KNSL
9,Mr. Stuart P. Winston,Sr. VP Underwriting,N/A,N/A,N/A,KNSL

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD2 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][1000:2000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD2 = YF_BoD2.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD2 = YF_BoD2.append(df)
  j+=1
YF_BoD2

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD3 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][2000:3000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD3 = YF_BoD3.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD3 = YF_BoD3.append(df)
  j+=1
YF_BoD3

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD4 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][3000:4000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD4 = YF_BoD4.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD4 = YF_BoD4.append(df)
  j+=1
YF_BoD4

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD5 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][4000:5000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD5 = YF_BoD5.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD5 = YF_BoD5.append(df)
  j+=1
YF_BoD5

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD6 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][5000:6000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD6 = YF_BoD6.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD6 = YF_BoD6.append(df)
  j+=1
YF_BoD6

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD7 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][6000:7000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD7 = YF_BoD7.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD7 = YF_BoD7.append(df)
  j+=1
YF_BoD7

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD8 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][7000:8000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD8 = YF_BoD8.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD8 = YF_BoD8.append(df)
  j+=1
YF_BoD8

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD9 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][8000:9000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD9 = YF_BoD9.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD9 = YF_BoD9.append(df)
  j+=1
YF_BoD9

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD10 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][9000:10000]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD10 = YF_BoD10.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD10 = YF_BoD10.append(df)
  j+=1
YF_BoD10

In [ ]:
time.sleep(60)

In [ ]:
Random_Agent()
YF_BoD11 = pd.DataFrame()
j = 0
for i in tqdm(Ticker_output['Ticker'][10000:]):
  if j == 9:
    Random_Agent()
    df = pd.DataFrame(ExtractYF_BoD(i))
    df['Ticker'] = i
    YF_BoD11 = YF_BoD11.append(df)
    j = 0
  else:
    df = pd.DataFrame(ExtractYF_BoD(i))
    time.sleep(1)
    df['Ticker'] = i
    YF_BoD11 = YF_BoD11.append(df)
  j+=1
YF_BoD11

In [ ]:
print(len(Ticker_output['Ticker'].drop_duplicates()))
print(len(YF_BoD1['Ticker'].drop_duplicates()))
print(len(YF_BoD2['Ticker'].drop_duplicates()))
print(len(YF_BoD3['Ticker'].drop_duplicates()))
print(len(YF_BoD4['Ticker'].drop_duplicates()))
print(len(YF_BoD5['Ticker'].drop_duplicates()))
print(len(YF_BoD6['Ticker'].drop_duplicates()))
print(len(YF_BoD7['Ticker'].drop_duplicates()))
print(len(YF_BoD8['Ticker'].drop_duplicates()))
print(len(YF_BoD9['Ticker'].drop_duplicates()))
print(len(YF_BoD10['Ticker'].drop_duplicates()))
print(len(YF_BoD11['Ticker'].drop_duplicates()))

In [ ]:
YF_BoD = pd.concat([YF_BoD1, YF_BoD2, YF_BoD3, YF_BoD4, YF_BoD5, YF_BoD6, YF_BoD7, YF_BoD8, YF_BoD9, YF_BoD10, YF_BoD11]).drop_duplicates()
print(len(YF_BoD))
print(len(YF_BoD['Ticker'].drop_duplicates()))

YF_BoD = YF_BoD[YF_BoD[5].isna()]
YF_BoD.columns = ['Name', 'Title', 'Pay', 'Exercised', 'Year Born', 'Ticker','Blank']
YF_BoD = YF_BoD[['Ticker', 'Name', 'Title', 'Pay', 'Exercised', 'Year Born']]
print(len(YF_BoD))
print(len(YF_BoD['Ticker'].drop_duplicates()))
YF_BoD.head(10)

In [ ]:
s3 = boto3.resource('s3')
WriteS3(bucketname = 'databricks-keb-shard', filepath = 'apis/yahoo_finance', filename = f'YF_BoardOfDirectors.csv', df = YF_BoD)
# WriteS3(bucketname = 'cb-data-exchange-cbmst-np' , filepath = 'leed_sources/apis', filename = f'YF_BoardOfDirectors.csv', df = YF_BoD)